body{
    background-color:rgb(229, 230, 230);
    padding:10px;
}
.navbar{
    /* background-color: red; */
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 10px;
    min-height: 50px;
    padding:10px;
}
.dropdown-parent{
    text-align:center;
    /* background-color: blueviolet; */
    display:grid;
    grid-template-columns: 1fr 8fr 1fr;
}
.dropdown{
    padding:5;
    text-align: center;
    padding:4px;
    /* background-color: pink; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.register{
    justify-self: end;
}
.login{
    margin-right:20px;
    float:left;
    padding:4px;
}
.get-started{
    float:right;
    padding:4px;
}
.body{
    display:grid;
    grid-template-columns: 1fr 1fr;
    min-height:500px;
    max-height: auto;
}
.left{
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    background-color: brown;
    background-image: url('bg-1.jpg');
    background-size: cover;
}
.right{
    padding: 20px;
    border-radius:35px;
    background-color: white;
}
.footer{
    display:grid;
    grid-template-columns: 1fr 2fr;
    min-height:100px;
    max-height:auto;
    padding:20px;
    padding-top:40px;
    color:gray;
}
.foot-left{
    /* background-color: orange; */
    font-size:20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
select{
    border:none;
}
button{
    border-radius:5px;
}
p{
    font-size:20px;
}
.logo{
    font-size:25px;
}
select{
    background-color: transparent;
}
input{
    padding:8px;
    border-radius: 8px;
}
.submit-1{
    background-color: black;
    color:white;
    border:none;
    padding:8px;
}